<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        // Функция для отправки формы при изменении значения
        function submitForm() {
            var select = document.getElementById("dropdown");
            var selectedOption = select.value;

            // Проверка, если выбран не изначальный вариант
            if (selectedOption !== "") {
                document.getElementById("groupForm").submit();
            }
        }
    </script>
</head>
<body>
    <h1>Выберите вашу учебную группу</h1>
    <form id="groupForm" action="/submit" method="post">
        
        <label for="dropdown">Выберите вариант:</label>
        <select id="dropdown" name="option" onchange="submitForm()">  <!-- обработка события onchange -->
            <option value="" selected disabled>None</option>
            <option value="option1">09-141</option>
            <option value="option2">09-142</option>
            <option value="option3">09-131</option>
            <option value="option4">09-132</option> <!-- исправленное значение -->
        </select>
        
    </form>
</body>
</html>
